<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="main-content">
        <div class="left box">
            <h2>about us</h2>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sed molestiae expedita quidem hic praesentium dolore possimus et alias consequatur, molestias accusamus consectetur vitae similique aspernatur? Ab quasi temporibus dicta.</p>
                <div class="social">
                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-google"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>address</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur enim, deleniti dolores impedit fugit obcaecati?</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">7854123659</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">abcd@gmail.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Links</h2>
            <div class="content">
                <div class="content-links"><h5><a href="/">Home</a></h5></div>
                <div class="content-links"><h5><a href="'/">Shop</a></h5></div>
                <div class="content-links"><h5><a href="'/">About</a></h5></div>
                <div class="content-links"><h5><a href="/contact">Contact</a></h5></div>
            </div>
        </div>
    </div>
</footer>
