<nav>
    <div class="menu">
        <div class="heading  logo"><a href="#">BAKE_it_FRESH</a></div>
        <input type="checkbox" id="check">
            <ul class="top">
            <label  class="button cancel " for="check"> <i class="fa fa-times"></i></label>

            <li><a href="#">facebook</a></li>
            <li><a href="#">insta</a></li>
            <li><a href="#">google</a></li>
            <li><a href="#">twitter</a></li>
            <div class="logo">
            <a href="#">BAKE_it_FESH</a>
        </div>
            <li><a href="#">home</a></li>
            <li><a href="#">team</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">about</a></li>

        </ul>
        <label class="button bars" for="check"><i class="fas fa-bars"></i></label>
    </div>
</nav>
<script src="/js/header.js"></script>