<link rel="stylesheet" href="/css/admin-login.css">
<section id="login-page">
  <div class="login">
    <div class="loginform">
      <div class="heading">
        <h1>ADMIN LOGIN</h1>
      </div>
      <form class="" action="/vendor/create-session" method="POST">
        <div class="input">
          <input type="email" name="email" placeholder="email-id" /><br />
        </div>

        <div class="input">
          <input type="password" name="password" placeholder="password" /><br />
        </div>

        <div class="form-btn">
          <button class="btn btn-primary" type="submit" value="login">LOGIN</button>
        </div>
      </form>

    </div>
  </div>
</section>

<script src="/js/admin-login.js"></script>