<link rel="stylesheet" href="/css/categories.css">

<section id="category">

    <div class="category">

        <div class="heading">

            <div class="heading-title">
                <h1>categories</h1>
            </div>

            <div class="category-table">

                <% category.forEach((category)=>{ %>
                    <div class="category-type">
                        <div class="head">
                            <h2><%= category.category_name %></h2>
                        </div>
                        <div class="image">
                            <img src="/images/cake2.jpg" alt="<%= category.category_name %>">
                        </div>
                        <div class="arrow">
                            <h4><a href="/products/<%= category._id %>">shop <i class="fas fa-arrow-circle-right"></i></a></h4>
                        </div>
                    </div>
                <%})%>
                
            </div>
            
        </div>
    </div>

</section>
<script src="/js/categories.js"></script>
