<link rel="stylesheet" href="/css/categories.css">

<section id="category">

    <div class="category">

        <div class="heading">

            <div class="heading-title">
                <h1>categories</h1>
            </div>

            <div class="category-table">

                <div class="category-type">
                    <div class="head">
                        <h2>cakes</h2>
                    </div>
                    <div class="image">
                        <img src="../images/berries.jpg" alt="">
                    </div>
                    <div class="arrow">
                        <h4><a href="/">shop <i class="fas fa-arrow-circle-right"></i></a></h4>
                    </div>
                </div>

                <div class="category-type">
                    <div class="head">
                        <h2>cakes</h2>
                    </div>
                    <div class="image">
                        <img src="../images/berries.jpg" alt="">
                    </div>
                    <div class="arrow">
                        <h4>shop <i class="fas fa-arrow-circle-right"></i></h4>
                    </div>
                </div>

                <div class="category-type">
                    <div class="head">
                        <h2>cakes</h2>
                    </div>
                    <div class="image">
                        <img src="../images/berries.jpg" alt="">
                    </div>
                    <div class="arrow">
                        <h4>shop <i class="fas fa-arrow-circle-right"></i></h4>
                    </div>
                </div>

                <div class="category-type">
                    <div class="head">
                        <h2>cakes</h2>
                    </div>
                    <div class="image">
                        <img src="../images/berries.jpg" alt="">
                    </div>
                    <div class="arrow">
                        <h4>shop <i class="fas fa-arrow-circle-right"></i></h4>
                    </div>
                </div>

                <div class="category-type">
                    <div class="head">
                        <h2>cakes</h2>
                    </div>
                    <div class="image">
                        <img src="../images/berries.jpg" alt="">
                    </div>
                    <div class="arrow">
                        <h4>shop <i class="fas fa-arrow-circle-right"></i></h4>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>

</section>
<script src="/js/categories.js"></script>
