<link rel="stylesheet" href="/css/signup.css">
<h1>ADMIN SIGNUP</h1>
<form action="/vendor/create" method="POST">
    <div>
        <label for="name">FULL NAME : </label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="email">EMAIL : </label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="password">PASSWORD : </label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <label for="confirm-password">CONFIRM PASSWORD : </label>
        <input type="password" name="confirm_password" id="confirm_password">
    </div>
    <div>
        <button type="submit">SUBMIT</button>
    </div>
</form> 