<link rel="stylesheet" href="/css/single-product.css">

<section id="description">
    <div class="d-main">

        <div class="d-image">
            <div class="img">
                <img src="../images/bakery.jpg" alt="">
            </div>
            <div class="image-name">
                <h2>blueberry cheesecake</h2>
                <p>Rs 550/-</p>
            </div>
        </div>

        <div class="info-div ">
            <div class="product-infor  product-d">
                <p><span>description :</span> information as per product</p>

            </div>
            <div class="flavour product-d">
                <p><span>flavour :</span> information as per product</p>

            </div>
            <div class="product-weight product-d">
                <p><span>product weight :</span> information as per product</p>

            </div>
            <div class="serving-size product-d">
                <p><span>serving size :</span> information as per product</p>

            </div>
            <div class="price product-d">
                <p><span>price per kg  :</span> information as per product</p>

            </div>
            <div class="product-variants product-d">
                <p><span>different variants  :</span> information as per product</p>

            </div>
            <div class="product-flavours product-d">
                <p><span>different flavours :</span> information as per product</p>

            </div>
            <div class="customizable product-d">
                <p><span>customization :</span> information as per product</p>

            </div>

        </div>

    </div>
</section>
<script src="/js/single-product.js"></script>