<link rel="stylesheet" href="/css/user_view_vendor.css">
<section id="user_view_vendor">

    <div class="upper-background"></div>

    <div class="profile-container">

        <div class="image-container">
            <img src="/images/cake2.jpg" alt="Profile Photo">
        </div>

        <div class="description-container">

            <h3 class="name">RAHUL NARULA</h3>
            <h6 class="prof">BAKERY OWNER</h6>

            <div class="desc-links">
                <ul>
                    <li><a href="" class="insta"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://wa.me/919999770297" class="whatsapp"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="mailto:example@example.com?subject=CUSTOMER MAIL" class="mail"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>

            <div class="about-para desc-p">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia quam ipsum maiores laboriosam laborum sunt quo molestiae cupiditate vel provident. Atque praesentium mollitia iusto illo earum itaque illum in quo.</p>
            </div>

            <div class="area-para desc-p">
                <p><span>AREA</span> : 4371 sugar camp road , owatonee , 552200</p>
            </div>

            <div class="experience-para desc-p">
                <p><span>YEARS OF EXPERIENCE</span> : 7 YEARS </p>
            </div>

            <div class="bakery-name-rating desc-p">
                <p><span>BAKERY NAME</span> : BAKE IT FRESH </p>
            </div>

            <div class="bakery-speciality-para desc-p">
                <p><span>BAKERY SPECIALITY</span> : Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptate laudantium exercitationem libero animi fugiat, obcaecati dolore deleniti eum architecto. </p>
            </div>

            <div class="shop-now-btn">
                <button type="submit">SHOP NOW<i class="fas fa-arrow-right"></i></button>
            </div>

        </div>
    </div>

</section>
<script src="/js/user_view_vendor.js"></script>