body{
    background: #0f1111;
}
h1,h2,h3,h4,h5{
    color: wheat;
}
.slideshow{
    width: 100%;
    height: auto;
    margin: auto;
    padding:25px 0;
}

.slideshow .carousel-inner{
    height: 550px;
    margin: auto;
}

.slideshow .carousel-inner .carousel-item{
    margin: auto;
}

.slideshow .carousel-inner img{
    height: 550px;
    width: 100%;
}

.carousel-text{
    position: absolute;
    top: 200px;
    left: 150px;
}

.carousel-text .heading{
    width: 75%;
}

.carousel-text .heading h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    color: brown;
}

.carousel-text .post-script{
    width: 75%;
}
.carousel-text .post-script p{
    font-size: 25px;
    font-weight: 600;
    color: rgb(105, 8, 37);
}

.carousel-text .shop-button {
    height: 64px;
    width: 176px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 4px white;
    z-index: 1;
}

.carousel-text .shop-button:hover {
    box-shadow: 2px 4px 4px black;
    transform: scale(1.1);
    border: 2px solid black;
    transition: 0.2s ease;
}

.carousel-text .shop-button:hover a, .carousel-text .shop-button:hover i {
    color: black;
    transition: 0.2s ease-in-out;
}

.carousel-text .shop-button a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 900;
    padding: 0 2px;
}

.carousel-text .shop-button i {
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    padding: 0 3.5px;
}

@media (max-width:705px) {
    .carousel-text .heading h2{
        font-size: 35px;
    }
    
    .carousel-text .post-script p{
        font-size: 22px;
    }
}
 
@media (max-width:550px){
    .carousel-text{
        left: 50px;
    }

    .carousel-text .heading h2{
        font-size: 25px;
    }
    
    .carousel-text .post-script p{
        font-size: 20px;
    }

    .carousel-text .shop-button {
        height: 40px;
        width: 120px;
        box-shadow: 1px 1px 2px white;
    }

    .carousel-text .shop-button a{
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    
    .carousel-text .shop-button i {
        font-size: 19px;
        font-weight: 700;
        padding: 0 1.5px;
    }
}

.banner{
    width: 20%;
    height: 550px;
    margin-top: 25px;
    position: absolute;
    left: 10%;
    /* bottom: 25px; */
    background: rgb(17, 17, 17);
    background: linear-gradient(to left, #072e25, #062d33 55%, #1d1c1d);
    z-index: 1;
}
.h2{
    width: 100%;
    color: wheat;
    font-size: 50px;
    font-weight: 700;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    z-index: 1;
}
.p{
    width: 100%;
    color: seagreen;
    font-size: 20px;
    /* padding-top: 50px; */
    padding-left: 10px;
    /* overflow: auto; Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    /* white-space: nowrap;Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    /* animation: 
      typing 3.5s,
      blink-caret .75s step-end infinite; */

}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.top-reviews{
    background: repeating-linear-gradient(
        45deg,
        #222,
        #222 10px,
        #333 10px,
        #333 20px
      );
}