

.review-card{
    background: white;
}
.review-card .review-head{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.review-card .review-head .review-subhead{
    margin-top: 10%;
    margin-right: 5px;
}

.review-main .review-card{
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
}

.review-card .review-image{
    margin: 10px;
    height: 75px;
    border-radius: 100%;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-card .review-content {
    flex-basis: 70%!important;
}

.review-content-body{
    margin: 10px;
    /* margin-top: 15px; */
}
.review-content-body .review-subhead{
    margin: 0;
}

 .review-subhead h4{
    text-transform: uppercase;
    color: grey;
}

.review-content-body .review-subhead .date{
    float: right;
}

.review-content-body .review-para{
    word-break: break-all;
    height: 100px;
}

.review-content-body .review-date{
    margin-top: 12px;
}

.review-content-body .review-subhead a{
    border-bottom: 1px solid black;
    width: 20px;
    text-decoration: none;
}

.review-content-body .review-subhead a i{
    padding-left: 5px;
}

#reviews .review-link{
    display: none;  
}

@media(max-width:450px){
    .slick-slide {
        padding: 5px;
    }
    .review-card{
        background: white;
        height: 275px;
    }
    .review-head .review-stars i{
        color: gold;
    }
    .review-card .review-image{
        display: none;
        /* margin: 2.5px;
        height: 50px;
        border-radius: 10%;
        justify-content: center;
        align-items: center; */
    }
    .review-content-body{
        width: 100%;
        height: 175px;
        
    }
    .review-head .review-stars i{
        color: gold;
    }
     .review-subhead h4{
        font-size: 17.5px;
        color: wheat;
        background: rgb(43, 41, 41);
    }
    .review-content-body .review-stars p{
        margin: 0;
    }
    .review-content-body .review-stars .fas{
         font-size: 10px;
    }
    .review-content-body .review-para p{
        font-size:12.5px;
    }
    .review-content-body .review-link a{
        font-size: 12.5px;
        
    }
    .review-content-body .review-date{
        padding-top: 10px;
    }
    .review-content-body .review-link{
        padding-top: 10px;
    }

    
}
@media(max-width:600px){
    .slick-slide {
        padding: 5px;
    }
    .review-card{
        background: white;
        height: 275px;
    }
    .review-card .review-image{
        margin: 2.5px;
        height: 50px;
        border-radius: 10%;
        justify-content: center;
        align-items: center;
    }
    .review-content-body{
        width: 100%;
        height: 175px;
        
    }
    .review-head .review-stars i{
        color: gold;
    }
    .review-subhead h4{
        font-size: 17.5px;
        color: wheat;
        background: rgb(43, 41, 41);
    }
    .review-content-body .review-stars p{
        margin: 0;
    }
    .review-content-body .review-stars .fas{
         font-size: 10px;
    }
    .review-content-body .review-para p{
        font-size:12.5px;
    }
    .review-content-body .review-link a{
        font-size: 12.5px;
        
    }
    .review-content-body .review-date{
        padding-top: 12.5px;
    }
    .review-content-body .review-link{
        padding-top: 10px;
    }
}
@media(max-width:1000px){
    .slick-slide {
        padding: 5px;
    }
    .review-card{
        background: white;
        height: 275px;
    }
    .review-head .review-stars i{
        color: gold;
    }
    .review-card .review-image{
        margin: 2.5px;
        height: 50px;
        border-radius: 10%;
        justify-content: center;
        align-items: center;
    }
    .review-content-body{
        width: 100%;
        height: 175px;
        
    }
    .review-subhead h4{
        font-size: 17.5px;
        color: wheat;
        background: rgb(43, 41, 41);
    }
    .review-content-body .review-stars p{
        margin: 0;
    }
    .review-content-body .review-stars .fas{
         font-size: 10px;
    }
    .review-content-body .review-para p{
        font-size:12.5px;
    }
    .review-content-body .review-link a{
        font-size: 12.5px;
        
    }
    .review-content-body .review-date{
        padding-top: 10px;
    }
    .review-content-body .review-link{
        padding-top: 8px;
    }
}
@media(max-width:1400px){
    .slick-slide {
        padding: 5px;
    }
    .review-card{
        background: white;
        height: 275px;
    }
    .review-head .review-stars i{
        color: gold;
    }
    .review-card .review-image{
        margin: 2.5px;
        height: 50px;
        border-radius: 10%;
        justify-content: center;
        align-items: center;
    }
    .review-content-body{
        width: 100%;
        height: 175px;
        
    }
    .review-subhead h4{
        font-size: 17.5px;
        color: wheat;
        background: rgb(43, 41, 41);
    }
    .review-content-body .review-stars p{
        margin: 0;
    }
    .review-content-body .review-stars .fas{
         font-size: 10px;
    }
    .review-content-body .review-para p{
        font-size:12.5px;
    }
    .review-content-body .review-link a{
        font-size: 12.5px;
        
    }
    .review-content-body .review-date{
        padding-top: 10px;
    }
    .review-content-body .review-link{
        padding-top: 8px;
    }
}
