
/* #services{
    margin: auto;
} */
.table{
    
    margin: auto;
    padding: 100px 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
}

.service-box{
    
    height: 150px;
    width: 325px;
    /* margin: auto; */
    margin-bottom: 15px;
    padding:15px 10px ;
    
}
.service-box .icon {
    margin-bottom:15px ;
}
.service-box .icon i{
    position: relative;
    font-size: 70px;
    left: 35%;
    color: rgb(3, 11, 43);
}

.service-box .service-h2{
    padding-bottom:10px ;
    text-align: center;
}
.service-box .service-h2 h2{
    font-size: 30px;
    font-weight: 800;
}
.service-box .service-p
{
    height: fit-content;

    text-overflow: ellipsis;
}
.service-box .service-p p{
    /* text-align: justify; */
    font-size: 18px;
    font-weight: 500;
}